# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBcefWV-uYaSv6cSe7Uxyr7B5HYyU1ENJw
VITE_FIREBASE_AUTH_DOMAIN=englishwordlearning-d636b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=englishwordlearning-d636b
VITE_FIREBASE_STORAGE_BUCKET=englishwordlearning-d636b.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1024578901234
VITE_FIREBASE_APP_ID=1:1024578901234:web:abcd1234ef567890fghij
